* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.semafaroDesligado {
  margin-left: 55px;
  margin-top: 20px;
}
